<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Guardian" version="0.7.0" targetFramework="net47" developmentDependency="true" />
  <package id="Meld" version="0.2.0-alpha19" targetFramework="net47" />
  <package id="Nancy" version="1.4.1" targetFramework="net47" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net47" />
  <package id="SonarAnalyzer.CSharp" version="6.0.0.2033" targetFramework="net47" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net47" developmentDependency="true" />
</packages>