.container {
    max-width: 800px;
}

.header {
    margin-top: 6rem;
    text-align: center;
}

.error {
    color: #de2f2f;
    display: none;
}

.distance {
    font-weight: bold;
}

a {
    text-decoration: none;
}

.button.button-primary.danger,
button.button-primary.danger,
input[type="submit"].button-primary.danger,
input[type="reset"].button-primary.danger,
input[type="button"].button-primary.danger {
    color: #FFF;
    background-color: #de2f2f;
    border-color: #de2f2f;
}

input.touched:required:invalid, input.touched:focus:invalid {
    border-color: #de2f2f;
    -moz-box-shadow: none;
}

.value-prop {
    margin-top: 1rem;
}

.value-props {
    margin-top: 0;
    margin-bottom: 4rem;
}

.docs-header {
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: .2rem;
    font-weight: 600;
}

.docs-section {
    border-top: 1px solid #eee;
    padding: 4rem 0;
    margin-bottom: 0;
}

.value-img {
    display: block;
    text-align: center;
    margin: 2.5rem auto 0;
    width: 130px;
}

.value-img.scale {
    width: 110px;
    padding: 10px;
}

.zero-margin .row,
.zero-margin.row,
.zero-margin form {
    margin-bottom: 0;
}

/* Larger than phone */
@media (min-width: 550px) {
    .header {
        margin-top: 18rem;
    }

    .value-props {
        margin-top: 0;
        margin-bottom: 7rem;
    }

    .registration {
        margin-top: 3rem;
    }
    
    .value-img {
        margin-bottom: 1rem;
    }

    .docs-section {
        padding: 6rem 0;
    }
}